@page "{guid?}"
@model Fruitmarket.WebApp.Pages.Markets.Index

@section head
{
    <style>    
    .closed{
    background-color: lightgrey;
    }
   </style>
}

<h3> Liste der Märkte </h3>
<p> Erstellt um @DateTime.Now.ToString("HH:mm").</p>

<table class="table table-sm">
    <thead>
    <tr>

        <th> Name </th>
        <th>Address</th>
        <th>StreetNumber</th>
        <th>Aktionen</th>
        

    </tr>
    </thead>

    <tbody>
    @foreach (var p in Model.Markets)
    {
        var cssCss = p.IsClosed ? "closed" : "";
        <tr class="@cssCss">

            <td>@p.Name</td>
            <td>@p.Address.Street</td>
            <td>@p.Address.StreetNumber</td>
            <td>
                <a asp-page="/Markets/Details" asp-route-guid="@p.Guid">Details</a>
                 <a asp-page ="/Markets/Edit" asp-route-guid="@p.Guid">Edit</a>
            </td>
            
           
        </tr>
    }
    </tbody>
</table>